* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin-top: 25px;
}

.game-field {
  width: 500px;
  height: 500px;
  margin: 25px auto;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border: 1px solid black;
}

.game-cell {
  border: 1px solid black;
  position: relative;
}

.snake-head {
  background-color: orangered;
}

.snake-body {
  background-color: lightcoral;
}

.fruit::before {
  content: '🍒';
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 50px;
}

.game-over {
  background-color: red;
}

.game-win {
  background-color: green;
}
